<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="title-cont" style="text-align: center;">
            <h1 class="title"> GET YOUR FAVORITE COLOR PALETTE </h1>
            <a class="link-btn start-link" href="{{ url_for('main_page')}}"> GET STARTED </a>
        </div>
    </header>
</body>

</html>
